.sidebarwrapper{
    display:flex;
    flex-direction: column;
    
    justify-content: space-around;
  
    width:100%;
    height:90vh;
    
}
.sidebarList{
    width:100%;

    display:flex;
    flex-direction: column;
    list-style-type: none;
    
    align-items: center;
    justify-content: center;
    gap:1.5625rem;
    
    
   
    
    cursor:pointer;
    color:rgb(172, 169, 169, 0.8);
    
    
    
    transition: all 0.7s ease;
    
}
.sidebarListItem{
    font-size: 1.5625rem;
    display:flex;
    align-items: center;
    padding: 0.5rem;
    gap:0.4rem;
    font-weight: 600;
    border-radius: 20px;
    color:rgb(172, 169, 169, 0.8)
}

.sidebarListItem:hover{
    background-color: rgb(26, 26, 26);
    transition: all 0.7s ease;
}

.post{
    
    display:flex;
    justify-content: center;
    width:100%;
    font-size:1.5625rem;
    
    font-weight: bolder;
    
}

  
.spanpost{
    padding: 0.525rem 1.675rem 0.525rem 1.675rem ;
    border-radius: 20px;
    background-color: rgb(219, 12, 53);
    cursor:pointer;
    

}
@media only screen and (max-width: 600px) {
    .spanpost {
        padding: 15%;
    };
    
  }


.spanpost:hover{
    background-color: rgb(218, 7, 49, 0.8);
    transition: all 0.7s ease;
   
}
